<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Что-то пошло не так.</title>

    <link rel="icon" href="/static/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/static/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/static/favicons/favicon-192x192.png" sizes="192x192" type="image/png">
    <link rel="apple-touch-icon" href="/static/favicon/apple-touch-icon.png">

    <link rel="stylesheet" href="/static/css/error.css">
    <link rel="stylesheet" href="/static/css/media-error.css">
</head>
<body>
    <div id="main">
        <span id="title">Что-то пошло не так.</span>
        <span id="info">{{ message }}</span>
        <img id="picture" src="/static/pictures/mistake.png" alt="Сломанная лампа">
    </div>
    <!-- <script src="/static/js/error.js"></script> -->
</body>
</html>