<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваше видео готово к скачиванию!</title>

    <link rel="icon" href="/static/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/static/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="apple-touch-icon" href="/static/favicon/apple-touch-icon.png">

    <link rel="stylesheet" href="/static/css/video.css">
</head>
<body>
    <div id="window">
        <div id="place">
            <video id="video" controls autoplay>
                <source src="{{ link }}" type="video/{{ format }}"
            </video>
        </div>
        <div id="panel-download">
            <div id="enter">
                <label for="title" id="label">Назовите файл </label>
                <input type="text" name="title" placeholder="your_video" value="your_video">
            </div>
            <button><a href="{{ link }}" download="your_video.{{ format }}">Скачать</a></button>
        </div>
    </div>
</body>
</html>